[app]
secure= true
port= 9000
timeout= "30s"
api_token= "somethingsomethinghardtounderstand"

    [app.security]
    key= "/path/to/key"
    cert= "/path/to/cert.pem"

    [app.upload]
    timeout= "300s"
    max_file_size= 10485760 # 10MB in bytes
    dirname= "/tmp"

[database]
connection_string= "mongodb://localhost:27017/file"

    [database.connection_options]
    j= true
    w= "majority"

[gcs]
bucket= "bucket_name"

    [gcs.options]
        project_id= "project-123"
        key_filename= "/path/to/key.json"
