[app]
secure= true
port= 9000
timeout= "30s"
api_token= "somethingsomethinghardtounderstand"
log_dir= "/log" # Don't change this

    [app.security]
    key= "/security/key.pem" # Don't change the directory
    cert= "/security/cert.pem" # Don't change the directory

    [app.upload]
    timeout= "300s"
    max_file_size= 10485760 # 10MB in bytes
    dirname= "/tmp" # Don't change this
    base_url= "http://localhost:9000" # Change this accordingly
    page_html= "view/index.html" # Use /view/yourfile.html if using custom page, don't change if using default page

[database]
connection_string= "mongodb://localhost:27017/file"

    [database.connection_options]
    j= true
    w= "majority"

[gcs]
bucket= "bucket_name"

    [gcs.options]
        project_id= "project-123"
        key_filename= "/security/key.json" # Don't change the directory
